{% block menu %}
    <ul class="nav nav-list">
        {% if not user.is_anonymous %}
        <li class="nav-header"><i class="icon-user icon-white"></i> Perfil de usuario</li>
        <li>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/48x48" alt="Foto Usuario">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h4>
                    {% if user.NumDocumento %}
                        {{ user.NumDocumento }} - {{ user.TipoDocumento }}
                    {% endif %}
                </div>
            </div>
        </li>
        <li class="divider"></li>
        {% else %}
        <li class="nav-header"><i class="icon-user icon-white"></i> Menú principal</li>
        {% endif %}
    {% if not user.is_anonymous %}
        <li><a href="/cvn/"><i class="icon-tasks"></i>Gestionar CVN</a></li>
        <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Salir</a></li>
    {% else %}
        <li><a href="{% url 'login' %}"><i class="icon-user icon-black"></i> Iniciar sesión</a></li>
    {% endif %}
    </ul>
    {% if not user.is_anonymous %}
    <ul class="nav nav-list">
        <li class="nav-header ullblue"><i class="icon-th icon-white"></i> Menú principal</li>
        <li>

            <dl>
                <dt>Información de acceso</dt>
                <dd>Estoy accediendo como usuario ULL</dd>
            </dl>

        </li>
        <li class="divider"></li>
        <li><a href="{% url 'index' %}"><i class="icon-home"></i> Inicio</a></li>
        <li class="divider"></li>
        <li><a href="http://tematai.ull.es/cvn/" target="_blank"><i class="icon-globe"></i> Acceso a Tematai</a></li>
        <li><a href="https://viinv.ull.es" target="_blank"><i class="icon-globe"></i> Acceso a ViinV</a></li>
        <li><a href="https://cvn.fecyt.es/editor/#HOME" target="_blank"><i class="icon-globe"></i> Acceso al editor del Fecyt</a></li>
    </ul>
    {% endif %}

{% endblock menu %}
