{% block menu %}
	<ul class="nav nav-list">
		{% if not user.is_anonymous %}
		<li class="nav-header"><i class="icon-user icon-white"></i> Perfil de usuario</li>
		<li>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" data-src="holder.js/48x48">
				</a>
				
				<div class="media-body">
					<h4 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h4>
					{% if user.NumDocumento %}
						{{ user.NumDocumento }} - {{ user.TipoDocumento }}
					{% endif %}
				</div>
			</div>
		</li>
		<li class="divider"></li>
			{% if not user.is_staff %}
			<li><a href="#"><i class="icon-eye-open"></i> Ver CVN</a></li>
			<li><a href="#"><i class="icon-download"></i> Descargar CVN</a></li>		
			{% else %}
			<li><a href="#"> Opciones Administrador</a></li>
			<li class="divider"></li>
			{% endif %}
		{% else %}
		<li class="nav-header"><i class="icon-user icon-white"></i> Menú principal</li>
		{% endif %}
		<li><a href="#"><i class="icon-question-sign"></i> Ayuda y soporte</a></li>
		<li><a href="#"><i class="icon-off"></i> Salir</a></li>
	</ul>
	{% if not user.is_anonymous %}
	<ul class="nav nav-list">
		<li class="nav-header ullblue"><i class="icon-th icon-white"></i> Menú principal</li>
		<li>

			<dl>
				<dt>Información de acceso</dt>
				<dd>Estoy accediendo como usuario ULL</dd>
			</dl>

		</li>
		<li class="divider"></li>
		<li><a href="{% url 'index' %}"><i class="icon-home"></i> Inicio</a></li>
		<li class="divider"></li>
		<li><a href="http://tematai.ull.es/cvn/" target="_blank"><i class="icon-globe"></i> Acceso a Tematai</a></li>
		<li><a href="https://viinv.ull.es" target="_blank"><i class="icon-globe"></i> Acceso a ViinV</a></li>
		<li><a href="https://cvn.fecyt.es/editor/#HOME" target="_blank"><i class="icon-globe"></i> Acceso al editor del Fecyt</a></li>	
	</ul>
	{% endif %}

{% endblock menu %}
