{% load i18n %}
<div class="nav-ull">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#congreso" data-toggle="tab">{% trans "Congresos" %}</a></li>
        <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{% trans "Publicaciones" %}<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li><a href="#articulo" tabindex="-1" data-toggle="tab">{% trans "Artículos" %}</a></li>
                <li><a href="#capitulo" tabindex="-1" data-toggle="tab">{% trans "Capítulos de Libros" %}</a></li>
                <li><a href="#libro" tabindex="-1" data-toggle="tab">{% trans "Libros" %}</a></li>
            </ul>
        </li>
        <li><a href="#convenio" data-toggle="tab">{% trans "Convenios" %}</a></li>
        <li><a href="#proyecto" data-toggle="tab">{% trans "Proyectos" %}</a></li>
        <li><a href="#tesis" data-toggle="tab">{% trans "Tesis" %}</a></li>
        <li><a href="#patente" data-toggle="tab">{% trans "Patentes" %}</a></li>
    </ul>
    <div class="tab-content">
        <div id="congreso" class="tab-pane active">
            <div class="panel-group" id="congresos">
                {% if Congresos %}
                    {% for congreso in Congresos %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="fa fa-plus" data-toggle="collapse" href="#c{{congreso.id}}">
                                    {{ congreso.titulo  }}</a>
                                </h4>
                            </div>
                            <div id="c{{congreso.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if congreso.titulo %}
                                        <strong>{{ congreso.titulo }}</strong> <br>
                                    {% endif %}
                                    {% if congreso.nombre_del_congreso %}
                                        {{ congreso.nombre_del_congreso }}
                                    {% endif %}
                                    {% if congreso.ciudad_realizacion and congreso.fecha_de_inicio %}
                                        ({{congreso.ciudad_realizacion}}, {{ congreso.fecha_de_inicio }})<br>
                                    {% elif congreso.ciudad_realizacion %}
                                        ({{ congreso.ciudad_realizacion }})<br>
                                    {% elif congreso.fecha_de_inicio %}
                                        ({{ congreso.fecha_de_inicio }})<br>
                                    {% endif %}
                                    {% if congreso.autores %}
                                        {{ congreso.autores }} <br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Congresos" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="articulo" class="tab-pane">
            <div class="panel-group" id="articulos">
                {% if Articulos %}
                    {% for publicacion in Articulos %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="fa fa-plus" data-toggle="collapse" href="#pub{{publicacion.id}}">
                                    {{ publicacion.titulo }}</a>
                                </h4>
                            </div>
                            <div id="pub{{publicacion.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if publicacion.titulo %}
                                        <strong>{{ publicacion.titulo }}</strong><br>
                                    {% endif %}
                                    {% if publicacion.fecha %}
                                        <strong>{% trans "Fecha" %}:</strong> {{ publicacion.fecha }}<br>
                                    {% endif %}
                                    {% if publicacion.autores %}
                                        {{ publicacion.autores }} <br>
                                    {% endif %}
                                    {% if publicacion.nombre_publicacion %}
                                        {{ publicacion.nombre_publicacion }}<br>
                                    {% endif %}
                                    {% if publicacion.volumen %}
                                        {% trans "Vol." %} {{publicacion.volumen}}
                                    {% endif %}
                                    {% if publicacion.numero %}
                                        {% trans "Núm." %} {{publicacion.numero}}
                                    {% endif %}
                                    {% if publicacion.pagina_inicial and publicacion.pagina_final %}
                                        {% trans "Pág." %} {{publicacion.pagina_inicial}}-{{publicacion.pagina_final}}
                                    {% endif %}
                                    {% if publicacion.issn %}
                                        ISSN: {{ publicacion.issn }}<br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Artículos" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="capitulo" class="tab-pane">
            <div class="panel-group" id="capitulos">
                {% if Capitulos %}
                    {% for publicacion in Capitulos %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="fa fa-plus" data-toggle="collapse" href="#pub{{publicacion.id}}">
                                    {{ publicacion.titulo }}</a>
                                </h4>
                            </div>
                            <div id="pub{{publicacion.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if publicacion.titulo %}
                                        <strong>{{ publicacion.titulo }}</strong><br>
                                    {% endif %}
                                    {% if publicacion.fecha %}
                                        <strong>{% trans "Fecha" %}:</strong> {{ publicacion.fecha }}<br>
                                    {% endif %}
                                    {% if publicacion.autores %}
                                        {{ publicacion.autores }} <br>
                                    {% endif %}
                                    {% if publicacion.nombre_publicacion %}
                                        {{ publicacion.nombre_publicacion }}<br>
                                    {% endif %}
                                    {% if publicacion.pagina_inicial and publicacion.pagina_final %}
                                        {% trans "Pág." %} {{publicacion.pagina_inicial}}-{{publicacion.pagina_final}}
                                    {% endif %}
                                    {% if publicacion.isbn %}
                                        ISBN: {{ publicacion.isbn }}<br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Capítulos de Libros" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="libro" class="tab-pane">
            <div class="panel-group" id="libros">
                {% if Libros %}
                    {% for publicacion in Libros %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                   <a  class="fa fa-plus" data-toggle="collapse" href="#pub{{publicacion.id}}">
                                    {{ publicacion.titulo }}</a>
                                </h4>
                            </div>
                            <div id="pub{{publicacion.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if publicacion.titulo %}
                                        <strong>{{ publicacion.titulo }}</strong><br>
                                    {% endif %}
                                    {% if publicacion.fecha %}
                                        <strong>{% trans "Fecha" %}:</strong> {{ publicacion.fecha }}<br>
                                    {% endif %}
                                    {% if publicacion.autores %}
                                        {{ publicacion.autores }} <br>
                                    {% endif %}
                                    {% if publicacion.nombre_publicacion %}
                                        {{ publicacion.nombre_publicacion }}<br>
                                    {% endif %}
                                    {% if publicacion.isbn %}
                                        ISBN: {{ publicacion.isbn }}<br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Libros" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="convenio" class="tab-pane">
            <div class="panel-group" id="convenios">
                {% if Convenios %}
                    {% for convenio in Convenios %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="fa fa-plus" data-toggle="collapse" href="#conv{{convenio.id}}">
                                    {{ convenio.titulo }}</a>
                                </h4>
                            </div>
                            <div id="conv{{convenio.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if convenio.titulo %}
                                        <strong>{{ convenio.titulo }}</strong><br>
                                    {% endif %}
                                    {% if fecha_de_inicio %}
                                        {% trans "Fecha de inicio" %}: {{ convenio.fecha_de_inicio }}<br>
                                    {% endif %}
                                    {% if fecha_de_fin %}
                                        {% trans "Fecha de finalización" %}: {{ convenio.fecha_de_fin }}<br>
                                    {% endif %}
                                    {% if convenio.cuantia_total %}
                                        {% trans "Cuantía" %}: {{ convenio.cuantia_total }}<br>
                                    {% endif %}
                                    {% if convenio.autores %}
                                        {% trans "Investigadores" %}: {{ convenio.autores }} <br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Convenios" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="proyecto" class="tab-pane">
            <div class="panel-group" id="proyectos">
                {% if Proyectos %}
                    {% for proyecto in Proyectos %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a  class="fa fa-plus" data-toggle="collapse" href="#pro{{proyecto.id}}">
                                    {{ proyecto.titulo  }}</a>
                                </h4>
                            </div>
                            <div id="pro{{proyecto.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if proyecto.titulo %}
                                        <strong>{{ proyecto.titulo }}</strong><br>
                                    {% endif %}
                                    {% if proyecto.fecha_de_inicio %}
                                        {% trans "Fecha de inicio" %}: {{ proyecto.fecha_de_inicio }}<br>
                                    {% endif %}
                                    {% if proyecto.fecha_de_fin %}
                                        {% trans "Fecha de finalización" %}: {{ proyecto.fecha_de_fin }}<br>
                                    {% endif %}
                                    {% if proyecto.cuantia_total %}
                                        {% trans "Cuantía" %}: {{ proyecto.cuantia_total }}<br>
                                    {% endif %}
                                    {% if proyecto.autores %}
                                        {% trans "Investigadores" %}: {{ proyecto.autores }} <br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Proyectos" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="tesis" class="tab-pane">
            <div class="panel-group" id="tesisDocs">
                {% if TesisDoctorales %}
                    {% for tesis in TesisDoctorales %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="fa fa-plus" data-toggle="collapse" href="#tes{{tesis.id}}">
                                    {{ tesis.titulo  }}</a>
                                </h4>
                            </div>
                            <div id="tes{{tesis.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if tesis.titulo %}
                                        <strong>{{ tesis.titulo }}</strong><br>
                                    {% endif %}
                                    {% if tesis.autor %}
                                        {% trans "Doctorando" %}: {{ tesis.autor }}<br>
                                    {% endif %}
                                    {% if tesis.universidad_que_titula %}
                                        {% trans "Universidad" %}: {{ tesis.universidad_que_titula }}<br>
                                    {% endif %}
                                    {% trans "Director" %}:
                                    {% for user_profile in tesis.user_profile.all %}
                                        {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}<br>
                                    {% endfor %}
                                    {% if tesis.codirector %}
                                        {% trans "Codirector" %}: {{ tesis.codirector }}<br>
                                    {% endif %}
                                    {% if tesis.fecha %}
                                        {% trans "Fecha de lectura" %}: {{ tesis.fecha }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Tesis Doctorales" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
       <div id="patente" class="tab-pane">
            <div class="panel-group" id="patentes">
                {% if Patentes %}
                    {% for patente in Patentes %}
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a  class="fa fa-plus" data-toggle="collapse" href="#pat{{patente.id}}">
                                    {{ patente.titulo  }}</a>
                                </h4>
                            </div>
                            <div id="pat{{patente.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if patente.titulo %}
                                        <strong>{{ patente.titulo }}</strong><br>
                                    {% endif %}
                                    {% if patente.fecha %}
                                        {% trans "Fecha" %}: {{ patente.fecha }}<br>
                                    {% endif %}
                                    {% if patente.fecha_concesion %}
                                        {% trans "Fecha de concesión" %}: {{ patente.fecha_concesion }}<br>
                                    {% endif %}
                                    {% if patente.num_solicitud %}
                                        {% trans "Número de solicitud" %}: {{ patente.num_solicitud }}<br>
                                    {% endif %}
                                    {% if patente.lugar_prioritario %}
                                        {% trans "País de prioridad" %}: {{ patente.lugar_prioritario }} <br>
                                    {% endif %}
                                    {% if patente.paises %}
                                        {% trans "Países" %}: {{ patente.paises }} <br>
                                    {% endif %}
                                    {% if patente.autores %}
                                        {% trans "Autores" %}: {{ patente.autores }} <br>
                                    {% endif %}
                                    {% if patente.entidad_titular %}
                                        {% trans "Entidad titular" %}: {{ patente.entidad_titular }} <br>
                                    {% endif %}
                                    {% if patente.empresas %}
                                        {% trans "Empresas" %}: {{ patente.empresas }} <br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "No dispone de Patentes" %}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){    
        $('.collapse').on('show.bs.collapse', function (e) {
           $(e.target).parent().find("a").removeClass("fa-plus").addClass("fa-minus");
        });

        $('.collapse').on('hide.bs.collapse', function (e) {
           $(e.target).parent().find("a").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>
