Django
django_extensions
django-debug-toolbar
psycopg2
ipython
Pillow
south							                        # DB migrations
suds							                        # Web Services
lxml							                        # Parsing XML
dateutils						                        # Fecha de caducidad
python-slugify						                    # filename desde un String
-e git+git@git.ccti.ull.es:django_cas#egg=django_cas    # CAS
gunicorn
selenium
joblib
reportlab
django-crequest
Werkzeug						                        # Werkzeug debugger
simplejson
factory-boy
coverage
django-coverage
enum
django-rosetta
django-tinymce
django-staticfiles
django-flatpages-i18n
django-tables2
redis
iso3166