Django==1.6.6
django_extensions
django-debug-toolbar
psycopg2
ipython
Pillow
south							                        # DB migrations
suds							                        # Web Services
lxml							                        # Parsing XML
dateutils						                        # Fecha de caducidad
python-slugify						                    # filename desde un String
gunicorn
selenium
joblib
reportlab
django-crequest
Werkzeug						                        # Werkzeug debugger
simplejson
factory-boy
coverage
django-coverage
enum34
django-rosetta
django-tinymce
django-staticfiles
django-flatpages-i18n
django-tables2
redis
iso3166
pyvirtualdisplay
gevent
greenlet
