Django
django_extensions
django-debug-toolbar
psycopg2
ipython
Pillow
south							                        # DB migrations
mysql-python						                    # MySQL
suds							                        # Web Services
lxml							                        # Parsing XML
dateutils						                        # Fecha de caducidad
python-slugify						                    # filename desde un String
django-bootstrap-toolkit==2.8.0				            # Bootstrap
-e git+git@git.ccti.ull.es:django_cas#egg=django_cas    # CAS
gunicorn
selenium
joblib
reportlab
django-crequest
Werkzeug						                        # Werkzeug debugger
simplejson
