{% load i18n %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

<div class="section">
    <ul class="nav nav-tabs header">
        <li class="active">{% trans 'Resumen del gasto por concepto' %}</li>
    </ul>
    <div class="content">
        {% if summary_concept %}
            {% render_table summary_concept "core/table.html" %}
            {% if total_summary_concept %}
                <br>
                {% render_table total_summary_concept "core/table.html" %}
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                <strong>{% trans "No se dispone de información contable" %}</strong>
            </div>
        {% endif %}
    </div>
</div>
