{% extends 'cvn/base.html' %}

{% load staticfiles %}

{% block main %}
    {% comment %}
        {{ flatpage.content }}
    {% endcomment %}

    {% load flatpages %}
    {% get_flatpages as flatpages %}
    <ul>
        {% for page in flatpages %}
            {% comment %}
            <li><a hrefu="{{ page.url }}">{{ page.title }}</a></li>
            {% endcomment %}
            <li>
                <strong><a href='#'>{{page.title}}</a></strong>
                <br>
                {{ page.content|safe }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
