

.navbar-inverse .ullbar .btn-navbar {
    margin-right: 0;
    background: #A276A2;
    border: 0px;
}

.navbar-inverse .ullbar .btn-navbar:hover {
    background: #956295;
}





@media (max-width: 979px) {

    .row-fluid .sidebar .span2 {
        width: 200px;

    }

    body {
        padding: 0;

    }

    .navbar-inverse .ullbar .nav-collapse,
    .navbar-inverse .ullbar .nav-collapse.collapse {

        padding: 0;
        margin: 0;

        margin-top: 40px;

    }

    .navbar-inverse .ullbar .nav-collapse .nav li {
        margin-top: 6px;

    }

    .navbar-inverse .ullbar .nav-collapse .dropdown-menu li.nav-header {
        padding-left: 10px;
    }

    .navbar-inverse .ullbar .nav-collapse .dropdown-menu li {
        padding: 0;
        margin: 0;
    }

    .navbar-inverse .ullbar .nav-collapse .dropdown-menu li a {
        font-size: 12px;
        font-weight: normal;
        color: #000000;
    }

   .navbar-inverse .nav-collapse .nav > li > a:focus,
   .navbar-inverse .nav-collapse .dropdown-menu a:focus {
        background: #7a3b7a;
   }


    .navbar-inverse .ullbar .nav-collapse .dropdown-menu li a:hover {
        border: 0;
        border-radius: 0;
        background: #7a3b7a;
        color: #ffffff;
    }


    .navbar-inverse .ullbar .nav-collapse .dropdown-menu li p a:hover {
         background: none;
         color: #7a3b7a;
    }


    .navbar-inverse .ullbar .nav-collapse .dropdown-menu {
        background: #ffffff;
        margin: 0;
    }
    .navbar-inverse .ullbar .nav-collapse.in.collapse {
        margin-bottom: 5px;
        border: 0;
    }


    .navbar-inverse .ullbar .nav > li > a {
        margin-left: 0;
        padding: 6px 10px;

        text-shadow: none;
        font-size: 12px;
        font-weight: normal;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
    }



    .nav-collapse.in .btn-group {
        padding: 0;
        margin-top: 5px;
        background: red;
    }

    .navbar-inner.appbar .breadcrumb {
        background: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
        padding-top: 0;
        line-height: 30px;
    }

    .navbar-inner.appbar .breadcrumb li,
    .navbar-inner.appbar .breadcrumb li a {
        font-size: 12px;
        line-height: 30px;
    }

    .navbar-inner.appbar .breadcrumb li:first-child a {
        color: #7a3b7a;
    }

    .navbar-inner.appbar .breadcrumb > li > .divider {
        color: #373737;
        padding: 0;
    }

    .navbar .nav.menu-appbar {

        margin-top: 3px;
    }

    .navbar .nav.menu-appbar > li > a.btn.btn-danger,
    .navbar .nav.menu-appbar > li > a.btn,
    .navbar .nav.menu-appbar > li > a {
        font-size: 11px;
        padding: 0 6px;
        margin: 0;
        margin-left: 5px;
    }

    .row-fluid [class*="span"] {
        min-height: 30px;
    }

    .navbar-inner.appbar {
        min-height: 20px;
    }

    .nav-collapse .dropdown-menu .divider {
      display: inherit;
    }

}


.divider.visible-phone {
    border-top: 1px solid #814581;
}


@media (max-width: 820px) {
   #footer ul.pull-right {
      text-align: center;
      float: none;
   }
}
