{% extends 'statistics/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{%block breadcrumb %}
    <li><a href='{% url unit_url %}'>{% trans unit %}</a></li>
    <li><a href=''>{{ nombre_corto }}</a></li>
{% endblock breadcrumb %}

{% block main %}
    <h1 class="page-header">{{ unidad }}</h1>

    <div class="section">
        <ul class="nav nav-tabs header">
            <li class="active">{% trans 'Información general' %}</li>
        </ul>
	    <div class="content">
            {% render_table info_unit "core/table.html" %}
	    </div>
    </div>

    <div class="section">
        <ul class="nav nav-tabs header">
            <li class="active">{% trans 'Información detallada' %}</li>
        </ul>
	    <div class="content">
            {% render_table members_list "core/table.html" %}
	    </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.content').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            })
        });
    </script>

    <script>
        $(".num_pcnt").css("width", $(".progress").width());
    </script>

{% endblock main %}
