{% extends 'statistics/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{%block breadcrumb %}	
    <li><a href='{% url current_url %}'>{% trans unit %}</a></li>
{% endblock breadcrumb %}

{% block main %}
    <h1 class="page-header">{% trans 'Estadísticas del CVN' %}</h1>
    <div class="section">
        <ul class="nav nav-tabs header">
            <li class="active">{% trans unit %}</li>
        </ul>
	    <div class="content">
            {% render_table unitStats "core/table.html" %}
	    </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.content').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            })
        });
    </script>

    <script>
        $(".num_pcnt").css("width", $(".progress").width());
    </script>
{% endblock main %}
