{% extends 'statistics/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{%block breadcrumb %}	
    <li><a href='{% url 'dept_stats' %}'>{% trans 'Departamentos' %}</a></li>
{% endblock breadcrumb %}

{% block main %}
    <h1 class="page-header">{% trans 'Estadísticas del CVN' %}</h1>
    <div class="section">
        <ul class="nav nav-tabs header">
            <li class="active">{% trans 'Departamentos' %}</li>
        </ul>
	    <div class="content">
            {% render_table departmentStats %}
            {% comment %}
	        <table class="table table-striped table-condensed">
	            <thead>
	                <tr>
	                    <th width='38%'>{% trans 'Nombre' %} </th>
	                    <th width='14%'>
                            {% trans 'CVN válidos' %} 
                            <div class="glyphicon glyphicon-info-sign" data-original-title="{% trans "CVN actualizado y con NIF/NIE correcto" %}" style="display: inline;" data-placement="top" data-toggle="tooltip"></div>
                        </th>
	                    <th width='11%'>{% trans 'Miembros computables' %}</th>
	                    <th width='11%'>{% trans 'Miembros totales' %}</th>
	                    <th>
                            {% trans 'Porcentaje de CVN válidos' %}
                            <div class="glyphicon glyphicon-info-sign" data-original-title="{% trans "CVN válidos / Miembros computables" %}" style="display: inline;" data-placement="top" data-toggle="tooltip"></div>
                        </th>
	                </tr>
	            </thead>
	            <tbody>
	                {% for department in departmentStats %}
	                    <tr>
	                        <td><a href='{% url 'stats_detail' department.code %}'>{{ department.name }}</a></td>
	                        <td>{{ department.number_valid_cvn }}</td>
	                        <td>{{ department.computable_members }}</td>
	                        <td>{{ department.total_members }}</td>
	                        <td>
	                            <div class="progress">
	                                <div class="progress-bar 
	                                    {% if department.percentage >= validPercentCVN %}
                                            progress-bar-success
                                        {% else %}
                                            progress-bar-danger
                                        {% endif %}"
	                                    role="progressbar" aria-valuenow={{ department.percentage }} aria-valuemin="0" aria-valuemax="100" 
	                                    style="width: {{ department.percentage|unlocalize }}%">
	                                        <span class="num_pcnt">{{ department.percentage|floatformat:1 }}%</span> 
	                                </div>
	                            </div>
	                        </td>
	                    </tr>
	                {% endfor %}
	            </tbody>
	        </table>
        {% endcomment %}
	    </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.content').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            })
        });
    </script>

    <script>
        $(".num_pcnt").css("width", $(".progress").width());
    </script>
{% endblock main %}
