{% extends 'accounting/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block main %}
    <h1 class="page-header">{% trans "Contabilidad" %}</h1>

    <div class="section">
        <ul class="nav nav-tabs header">
            <li class="active">{% trans 'Proyectos' %}</li>
        </ul>
        <div class="content">
            {% if projects %}
                {% render_table projects "core/table.html" %}
            {% else %}
                <div class="alert alert-warning">
                    <strong>{% trans "Acceso denegado: Permisos insuficientes" %}</strong>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock main %}
