{% extends 'accounting/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block main %}
    <h1 class="page-header">{% trans "Contabilidad" %}</h1>

    <div class="nav-ull">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#proyecto" data-toggle="tab">{% trans 'Proyectos' %}</a></li>
            <li><a href="#convenio" data-toggle="tab">{% trans 'Convenios y Contratos' %}</a></li>
        </ul>

        <div class="tab-content">
            <div id="proyecto" class="tab-pane active">
                <div class="panel-group" id="proyectos">
                {% if projects %}
                    {% render_table projects "core/table.html" %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "Acceso denegado: Permisos insuficientes" %}</strong>
                    </div>
                {% endif %}
                </div>
            </div>

            <div id="convenio" class="tab-pane active">
                <div class="panel-group" id="convenios">
                {% if agreements %}
                    {% render_table agreements "core/table.html" %}
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "Acceso denegado: Permisos insuficientes" %}</strong>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
