{% extends 'accounting/base.html' %}

{% load i18n %}

{% block main %}
    <h1 class="page-header">{% trans "Contabilidad" %}</h1>

    <div class="section">
        <ul class="nav nav-tabs header">
            <li class="active">{% trans 'Proyectos' %}</li>
        </ul>
        <div class="content">
            <table class="table table-striped table-condensed">
                {% if projects %}
                    <thead>
                        <tr>
                            <th>{% trans "Código" %}</th>
                            <th>{% trans "Nombre" %}</th>
                            {% if user.is_staff %}
                                <th>{% trans "Clave contable" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.CODIGO }}</td>
                                <td>
                                    <a href={% url 'accounting_detail' project.CODIGO %}> {{ project.NAME }} </a>
                                </td>
                                {% if user.is_staff %}
                                    <td>{{ project.CONT_KEY }}</td>
                                {% endif %}
                            </tr>
                    {%  endfor %}
                    </tbody>
                {% else %}
                    <div class="alert alert-warning">
                        <strong>{% trans "Permisos insuficientes" %}</strong>
                    </div>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock main %}
