{% extends 'core/base.html' %}

{% load i18n %}

{% block main %}
    <div class="error-page">
        <h2>{{ title }}</h2>
        <p>{% trans "Sorry for the inconvenience" %}</p>
        <p>{{ contact }} <a href="mailto:{{ email_support }}">{{ email_support }}</a></p>
        <p><a class="btn btn-primary" href="{% url 'index'%}">{% trans "Back to Researcher Portal" %}</a></p>
    </div>
    <div>
        <div class="col-md-6 col-md-offset-3">
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Actions available" %}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="javascript:history.back();">{% trans "Back to previous page and try again" %}</a></li>
                    <li class="list-group-item"><a href="http://www.ull.es/">{% trans "Go to the home page of the University of La Laguna" %}</a></li>
                    <li class="list-group-item"><a href="http://soporte.ull.es/" target="_blank">{% trans "Incidence report" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main %}

{% block submenu %}
{% endblock submenu %}
