{% extends 'core/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block breadcrumb_app %}
    <li><a href="{% url 'faq'%}">{% trans 'FAQ' %}</a></li>
{% endblock breadcrumb_app %}

{% block main %}
    <h1 class='page-header'><a name='start'></a> {% trans 'FAQ' %}</h1>
    {% load flatpages %}
    {% get_flatpages as flatpages %}
    <ul>
        {% for page in flatpages %}
            <li>
                <strong><a href='#{{page.id}}'>{{page.title}}</a></strong>
                <br>
            </li>
        {% endfor %}
        <br>
        {% for page in flatpages %}
            {% include 'core/partials/default_faq.html' %}
            <p align="right">
                <a href="#start">[<i class="fa fa-chevron-up">]</i></a>
            </p>
        {% endfor %}
    </ul>
{% endblock %}
