
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Universidad de La Laguna">
    <meta name="keywords" content="Universidad de La Laguna" />
    <meta name="author" content="Universidad de La Laguna" />

    <title>Universidad de La Laguna - T&iacute;tulo aplicaci&oacute;n o servicio</title>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//static.ull.es/v3/dist/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//static.ull.es/v3/dist/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="//static.ull.es/v3/dist/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="//static.ull.es/v3/dist/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="//static.ull.es/v3/dist/img/favicon.ico">

    <link href="//static.ull.es/v3/dist/css/ull.min.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="//static.ull.es/v3/dist/js/ullie.min.js"></script><![endif]-->
    <script src="//static.ull.es/v3/dist/js/ull.min.js"></script>
</head>

<body>
<div class="navbar navbar-default navbar-ull" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-app-collapse">
                <span class="sr-only">Desplegar men&uacute; de aplicaci&oacute;n</span>
                <span class="fa fa-bars fa-stack"></span>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Desplegar men&uacute; de navegaci&oacute;n</span>
                <span class="fa fa-link fa-stack"></span>
            </button>
            <a class="navbar-brand" href="http://www.ull.es" title="Universidad de La Laguna">Universidad de La Laguna</a>
        </div>

        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios telem&aacute;ticos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" title="Gesti&oacute;n de perfil de usuario" href="http://usuarios.ull.es"><i class="fa fa-user"></i> Gesti&oacute;n de perfil de usuario</a></li>
                        <li><a target="_blank" title="Portal ULL" href="http://portal.ull.es"><i class="fa fa-folder-open"></i> Portal</a></li>
                        <li><a target="_blank" title="Sede electr&oacute;nica" href="http://sede.ull.es"><i class="fa fa-briefcase"></i> Sede electr&oacute;nica</a></li>
                        <li><a target="_blank" title="Campus Virtual" href="http://www.campusvirtual.ull.es"><i class="fa fa-pencil"></i> Campus virtual</a></li>
                        <li><a target="_blank" title="Correo electr&oacute;nico" href="http://ull.edu.es"><i class="fa fa-envelope"></i> Correo electr&oacute;nico</a></li>
                        <li><a target="_blank" title="Disco duro virtual"  href="http://ddv.ull.es"><i class="fa fa-hdd-o"></i> Disco duro virtual</a></li>
                        <li><a target="_blank" title="Biblioteca digital" href="http://www.bbtk.ull.es/view/institucional/bbtk/Biblioteca_Digital/es"><i class="fa fa-book"></i> Biblioteca digital</a></li>
                        <li><a target="_blank" title="Eventos" href="http://eventos.ull.es"><i class="fa fa-calendar"></i> Eventos</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacto <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="http://www.ull.es"><i class="fa fa-globe"></i> P&aacute;gina Web ULL</a></li>
                        <li><a target="_blank" title="Formulario de contacto" href="http://www.ull.es/view/institucional/ull/Contacto_3/es"><i class="fa fa-list-alt"></i> Formulario de contacto</a></li>
                        <li><a target="_blank" title="Tel&eacute;fonos" href="http://www.ull.es/view/institucional/ull/Telefonos/es"><i class="fa fa-phone"></i> Directorio telef&oacute;nico</a></li>
                        <li class="divider"></li>
                        <li>
                            <ul class="rrss text-muted list-inline">
                                <li><a target="_blank" href="http://www.facebook.com/universidaddelalaguna" ><i class="fa fa-facebook-square"></i></a></li>
                                <li><a target="_blank" href="http://www.tuenti.com/#m=Page&func=index&page_key=1_160_68944913"><i class="fa fa-tumblr-square"></i></a></li>
                                <li><a target="_blank" href="http://twitter.com/CanalULL"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a target="_blank" href="http://www.linkedin.com/groups/Universidad-Laguna-2656178"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-app" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ol class="breadcrumb">
                <li class="active" ><a href="#">T&iacute;tulo de la aplicaci&oacute;n o servicio</a></li>
            </ol>
        </div>
        <div class="collapse navbar-collapse navbar-app-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question-circle"></i> Ayuda y soporte <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" title="Portal de servicio" href="http://www.stic.ull.es/info/servicios/servicios/index.asp"><i class="fa fa-globe"></i> Portal de servicio</a></li>
                        <li><a target="_blank" title="Correo electr&oacute;nico stic@ull.es" href="mailto:stic@ull.es"><i class="fa fa-envelope"></i> stic@ull.es</a></li>
                        <li><p><i class="fa fa-phone"></i> (+34) 922 31 9180</p></li>
                        <li><p><i class="fa fa-map-marker"></i> Edificio Central <br/> C/ Delgado Barreto s/n. 38207 <br/>San Crist&oacute;bal de La Laguna</p></li>
                        <li class="divider"></li>
                        <li><p>Texto espec&iacute;fico que puede incluir <a href="#">enlaces</a>, texto en <strong>negrita</strong>, <i>cursiva</i> y otros elementos html.</p></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="jumbotron">
                        <h1>Título del servicio</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in quam accumsan, viverra ligula non, hendrerit mi. Cras tempor arcu a sodales porttitor.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="alert alert-warning">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in quam accumsan, viverra ligula non, hendrerit mi. Cras tempor arcu a sodales porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in quam accumsan, viverra ligula non, hendrerit mi. Cras tempor arcu a sodales porttitor.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-10 col-lg-push-2 portal-panels">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 align-center">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-md-10">
                                    <h4>Obtención de datos para exportación a CVN</h4>
                                    <p>Actualice o cree su CVN de forma simple exportando su perfil</p>
                                    <a class="btn btn-primary btn-sm" href="https://viinv.ull.es/cvninfo"><i class="fa fa-angle-double-right"></i> Acceder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 align-center">
                                    <i class="fa fa-bar-chart-o fa-5x"></i>
                                </div>
                                <div class="col-md-10">
                                    <h4>SIGIDi</h4>
                                    <p>Informaci&oacute;n sobre el estado administrativo y contable de sus proyectos, convenios y contratos de investigaci&oacute;n.</p>
                                    <a class="btn btn-primary btn-sm" href="http://sigidi.ull.es"><i class="fa fa-angle-double-right"></i> Acceder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 align-center">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-md-10">
                                    <h4>Grupos de investigaci&oacute;n</h4>
                                    <p>Informaci&oacute;n sobre los grupos de investigaci&oacute;n registrados de la ULL</p>
                                    <a class="btn btn-primary btn-sm" href="https://viinv.ull.es/grupos/"><i class="fa fa-angle-double-right"></i> Acceder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 align-center">
                                    <i class="fa fa-leaf fa-5x"></i>
                                </div>
                                <div class="col-md-10">
                                    <h4>CEIBA</h4>
                                    <p>Comit&eacute; de &Eacute;tica de la Investigaci&oacute;n y de Bienestar Animal de la ULL</p>
                                    <a class="btn btn-primary btn-sm" href="https://viinv.ull.es/ceiba/"><i class="fa fa-angle-double-right"></i> Acceder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-lg-pull-10">
            <div class="panel panel-default panel-ull color-7A3B7A">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-external-link"></i> Enlaces de inter&eacute;s</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a title="P&aacute;gina web ULL" href="http://www.ull.es" target="_blank">P&aacute;gina web ULL</a></li>
                        <li><a title="Normativa interna" href="http://www.ull.es/view/institucional/ull/Normativa_interna/es" target="_blank">Normativa interna</a></li>
                        <li><a title="Convocatoria" href="http://www.ull.es/view/institucional/ull/Convocatorias_2/es" target="_blank">Convocatorias</a></li>
                        <li><a title="SEGAI" href="http://www.segai.ull.es/" target="_blank">SEGAI</a></li>
                        <li><a title="Actividades" href="http://www.ull.es/view/institucional/ull/Actividades_1/es" target="_blank">Actividades</a></li>
                        <li><a title="Grupos e institutos de investigaci&oacute;n" href="http://www.ull.es/view/institucional/ull/Grupos_e_Institutos_de_investigacion/es" target="_blank">Grupos e insitutos de investigaci&oacute;n</a></li>
                        <li><a title="OTRI" href="http://www.otri.ull.es" target="_blank">OTRI</a></li>
                        <li><a title="Clusters" href=http://www.ull.es/view/institucional/ull/Clusters/es" target="_blank">Clusters</a></li>
                        <li><a title="Comit&eacute; de &eacute;tica" href=http://www.ull.es/view/institucional/ull/Comite_de_Etica/es" target="_blank">Comit&eacute; de &eacute;tica</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ul class="address pull-left">
                    <li><strong>Universidad de La Laguna</strong><br/> Pabell&oacute;n de Gobierno, C/ Molinos de Agua s/n. | San Crist&oacute;bal de La Laguna, Santa Cruz de Tenerife - Espa&#241;a (38200) | Tel&eacute;fono: (+34) 922 31 90 00/01</li>
                </ul>
                <ul class="list-inline text-muted pull-right">
                    <li><a title="Facebook" target="_blank" href="http://www.facebook.com/universidaddelalaguna" ><span class="fa fa-facebook-square"></span></a></li>
                    <li><a title="Tuenti" target="_blank" href="http://www.tuenti.com/#m=Page&func=index&page_key=1_160_68944913"><i class="fa fa-tumblr-square"></i></a></li>
                    <li><a title="Twitter" target="_blank" href="http://twitter.com/CanalULL"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a title="LinkedIn" target="_blank" href="http://www.linkedin.com/groups/Universidad-Laguna-2656178"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a title="P&aacute;gina web ULL" target="_blank" href="http://www.ull.es"><i class="fa fa-globe"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
