{% extends "django_tables2/table.html" %}
 
{% load django_tables2 %}
{% load i18n %}

{% block table.thead %}
    <thead>
        <tr>
        {% for column in table.columns %}
            <th {{ column.attrs.th.as_html }}>
                {% if column.attrs.data_helper %}
                    <div class="fa fa-info-circle" data-original-title="{{ column.attrs.data_helper }}" 
                         style="display: inline;" data-placement="top" data-toggle="tooltip"></div>
                {% endif %}
                {% if column.orderable %}
                    <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                    {% if not column.is_ordered %}
                        <i class="fa fa-sort"></i>
                    {% elif column.order_by_alias.is_ascending %}
                        <i class="fa fa-sort-asc"></i>
                    {% elif column.order_by_alias.is_descending %}
                        <i class="fa fa-sort-desc"></i>
                    {% endif %}
                {% else %}
                    {{ column.header }}
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    </thead>
{% endblock table.thead %}
