{% extends 'core/base.html' %}

{% block breadcrumb_app %}
    <li class="active"><a href="{% url 'cvn'%}">CVN</a></li>
    {% block breadcrumb %}
    {% endblock breadcrumb %}
{% endblock breadcrumb_app %}

{% block internal_links %}
    <li><a href="{% url 'cvn' %}"><i class="fa fa-home"></i> Inicio</a></li>
    <li><a href="{% url 'ull_report' %}"><i class="fa fa-home"></i> Informe ULL</a></li>
{% endblock internal_links %}

{% block external_links %}
    <li><a href="http://tematai.ull.es/cvn/" target="_blank"><i class="fa fa-globe"></i> Acceso a Tematai</a></li>
    <li><a href="https://cvn.fecyt.es/editor/#HOME" target="_blank"><i class="fa fa-globe"></i> Acceso al editor del FECYT</a></li>
{% endblock external_links %}
