{% extends 'cvn/base.html' %}

{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block breadcrumb %}
    <li><a href='{% url 'export_data_ull' %}'>{% trans "Exportar datos ULL" %}</a></li>
{% endblock breadcrumb %}

{% block main %}
	<h1 class="page-header">{% trans "Exportar mis datos de la Universidad de La Laguna" %}</h1>

    <div class="section">
        <ul class="nav nav-tabs header">
            <li class="active">{% trans 'Exportar' %}</li>
        </ul>
        <div class="content">
            <div class="alert alert-info">
                {% trans "Seleccione la opción que desee para obtener los datos sobre las titulaciones y cargos almacenados en la Universidad de la Laguna." %}
                {% trans "El PDF que obtendrá debe almacenarlo e importarlo en el editor de la FECYT." %}
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" onclick="$('#all_years').click()" class="btn btn-primary btn-block btn-ms">
                        {% trans "Todos los años" %}
                    </button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-block btn-ms" data-toggle="modal" data-target="#selectYears">
                        {% trans "Seleccionar un año" %}
                    </button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-block btn-ms" data-toggle="modal" data-target="#rangeYears">
                        {% trans "Seleccionar un periodo" %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {{ field.error }}
            {%  endfor %}
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
        </div>
        <br>
    {%  endif %}

    <form action="" method='post'
        {% if form.is_multipart %}
            enctype="multipart/form-data"
        {% endif %}>{% csrf_token %}
        <input id="all_years" style="display:none;" type="Submit" name="all_years" />
    </form>

    <form action="" method='post' target="_blank">{% csrf_token %}
        <!-- Modal: select a single year -->
        <div class="modal fade" id="selectYears" tabindex="-1" role="dialog" aria-labelledby="selectYearsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="selectYearsLabel">{%  trans "Información del año seleccionado" %}</h4>
                    </div>
                    <div class="modal-body">
                        {%  trans "Esta opción exportará la información almacenada en el año seleccionado:" %}{{ form.year }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cerrar" %}</button>
                        <input id="select_year" style="display:none;" type="Submit" name="select_year" />
                        <button type="button" onclick="$('#select_year').click()" class="btn btn-primary" data-dismiss="modal">{% trans "Exportar información" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="" method='post' target="_blank">{% csrf_token %}
        <!-- Modal: Select a range of years -->
        <div class="modal fade" id="rangeYears" tabindex="-1" role="dialog" aria-labelledby="rangeYearsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="rangeYearsLabel">{%  trans "Información del año seleccionado" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% trans "Desde" %}: {{ form.start_year }} {% trans "Hasta" %}: {{ form.end_year }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cerrar" %}</button>
                        <input id="range_years" style="display:none;" type="Submit" name="range_years" />
                        <button type="button" onclick="$('#range_years').click()" class="btn btn-primary" data-dismiss="modal">{% trans "Exportar información" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock main %}