{% extends 'cvn/base.html' %}
{% load i18n %}

{% load staticfiles %}

{% block breadcrumb %}
    <li><a href='{% url 'get_cvn_data_ull' %}'>{% trans "Obtener información" %}</a></li>
{% endblock breadcrumb %}

{% block main %}

	<h1 class="page-header">{% trans "Obtener información de la Universidad de La Laguna" %} </h1>

    {% trans "Seleccione la opción que desee para obtener los datos sobre las titulaciones y cargos almacenados en la Universidad de la Laguna." %}
    </br>
    {% trans "El PDF que obtendrá debe almacenarlo e importarlo en el editor de la FECYT." %}


    </br></br>
    <form action="" method='post' target="_blank">{% csrf_token %}
        <div class="col-md-6">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#all_years"> {% trans "Obtener la información de todos los años"%}</a>
                        </h4>
                    </div>
                    <div id="all_years" class="panel-collapse collapse">
                        <div class="panel-body">
                            <input id="id_all_years" style="display:none;" type="Submit" name="all_year" />
                            <button type="button" id="all_years" onclick="$('#id_all_years').click()" class='btn btn-primary btn-block btn-ms'>
                                {% trans 'Obtener información' %}
                            </button>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#select_year"> {% trans "Obtener información de un año específico"%}</a>
                        </h4>
                    </div>
                    <div id="select_year" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% trans "Seleccionar año" %}: {{ form.year }}
                            </br></br>
                            <input id="id_select_year" style="display:none;" type="Submit" name="select_year" />
                            <button type="button" id="select_year" onclick="$('#id_select_year').click()" class='btn btn-primary btn-block btn-ms'>
                                {% trans 'Obtener información' %}
                            </button>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#range_years"> {% trans "Obtener información comprendida en un rango de años"%}</a>
                        </h4>
                    </div>
                    <div id="range_years" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% trans "Desde" %}: {{ form.start_year }} {% trans "Hasta" %}: {{ form.end_year }}
                            </br></br>
                            <input id="id_range_years" style="display:none;" type="Submit" name="range_years" />
                            <button type="button" id="range_years" onclick="$('#id_range_years').click()" class='btn btn-primary btn-block btn-ms'>
                                {% trans 'Obtener información' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock main %}