{% extends 'cvn/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block main %}
    <h1 class="page-header">{% trans "Currículum Vítae Normalizado (CVN)" %}</h1>
    <div class="row">

        <div class="col-md-6">
            <div class="section">
                <ul class="nav nav-tabs header">
                    <li class="active">{% trans 'Actualización del CVN' %}</li>
                </ul>
                <div class="content">
                    <div class="well">
                        {% if message %}
                            <div id="hideme" class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endif %}
                        {% if form.errors %}
                            <div id='hideme' class="alert  alert-danger">
                                {% for field in form %}
                                    {{ field.errors }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div>
                            <form action="" method='post'
                                {% if form.is_multipart %} 
                                    enctype="multipart/form-data"
                                {% endif %}>{% csrf_token %}
                                <input id="id_cvn_file" style="display:none;" onchange="this.form.submit()" name="cvn_file" type="file" />
                                <button type="button" id="send_file" onclick="$('#id_cvn_file').click()" id='loading-btn' data-loading-text=" {% trans 'Cargando' %}..." class='fa fa-upload btn btn-primary btn-block btn-ms'> {% trans 'Subir un nuevo CVN' %}</button>
                            </form>
                        </div>
                    </div>
                    <div class="alert alert-info">
                        {% trans 'Puede crear su CVN desde el ' %} <a href={{ EDITOR_FECYT }} class="alert-link" target="_blank">{% trans 'Editor de la FECYT' %}</a>
                    </div>
                </div>
            </div>
        </div>

        {% if cvn %}
            <div class="col-md-6">
                <div class="section">
                    <ul class="nav nav-tabs header">
                        <li class="active">{% trans 'Información del CVN' %}</li>
                    </ul>
                    <div class="content">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="vertical-align: middle;"><strong>{% trans 'Estado' %}</strong></th>
                                {% if cvn_status == "Actualizado" %}
                                    <td class="alert alert-success align-center"><b>{% trans cvn_status %}</b></td>
                                {% else %}
                                    <td class="alert alert-danger align-center">
                                        <b>{% trans cvn_status %}</b>
                                        {% if cvn_status == "NIF/NIE Incorrecto" %}
                                            <br>
                                            {{ user.profile.documento }} - {{ nif_invalid }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th><strong>{% trans 'Fecha del Documento' %}</strong></th>
                                <td align='center'>{{ cvn.fecha_cvn }}</td>
                            </tr>
                            <tr>
                                <td colspan='2' align='center'>
                                    <a href='/investigacion/cvn/download/' target='_blank' class='fa fa-download btn btn-primary btn-block btn-ms' role='button'> {% trans 'Descargar una copia de mi CVN' %}</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if CVN %}
        {% include 'cvn/partials/producciones_chart.html' %}
    {% endif %}
    <script>
        $('#id_cvn_file').change(function () {
            if (document.getElementById('hideme')) {
                document.getElementById('hideme').style.display = 'none'
            }
            var btn = $('#send_file');
            btn.button('loading');
        });
    </script>
{% endblock main %}
