{% extends 'cvn/base.html' %}

{% load staticfiles %}

{% block main %}
    <h1 class="page-header">Currículum Vítae Normalizado (CVN) </h1>
    {% if not cvn or cvn.status == CVNStatus.EXPIRED %}
        <div class="alert alert-danger">
            Debe introducir un <i>Currículum Vítae Normalizado</i> con formato <i>FECYT</i>
        </div>
    {% endif %}
    <!-- Tabla de estado del CVN -->
    <div class="row">
        {% if cvn %}
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th><strong>Estado</strong></th>
                        {% if cvn_status == "Actualizado" %}
                            <td class="alert alert-success align-center"><b>{{ cvn_status }}</b></td>
                        {% else %}
                            <td class="alert alert-danger align-center"><b>{{ cvn_status }}</b></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th><strong>Fecha del Documento</strong></th>
                        <td align='center'>{{ cvn.fecha_cvn }}</td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'>
                            <a href='/investigacion/cvn/download/' target='_blank' class='fa fa-download btn btn-primary btn-ms' role='button'> Descargar CVN</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="col-md-6">
            <div class="well" align="center">
                {% if message %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
                {% if form.errors %}
                    <div class="alert  alert-danger">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div>
                    <form action="" method='post'
                        {% if form.is_multipart %} 
                            enctype="multipart/form-data"
                        {% endif %}>{% csrf_token %}
                        {% for field in form.visible_fields %}
                            {{ field }}
                        {% endfor %}
                        <br>
                        <button type="submit" id='loading-btn' data-loading-text=' Cargando...' class='fa fa-upload btn btn-primary btn-ms'> Subir</button>
                        <script>
                            $('#loading-btn').click(function () {
                                var btn = $(this)
                                btn.button('loading')
                            });
                        </script>
                    </form>
                 </div>
            </div>
        </div>
    </div>

    {% if CVN %}
        {% include 'cvn/partials/producciones_chart.html' %}
    {% endif %}

    <script>
        $('#loading-btn').click(function () {
            var btn = $(this)
            btn.button('loading')
        });
    </script>

{% endblock main %}
