{% extends 'cvn/base.html' %}

{% load staticfiles %}

 {%block breadcrumb %}	
    <li><a href='{% url 'stats_report' %}'>Estadísticas</a></li>
{% endblock breadcrumb %}

{% block main %}
	<h1 class="page-header">Estadísticas CVN por Departamentos</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr align="center">
                <th>Departamento</th>
                <th>Número de miembros</th>
                <th>CVN actualizados</th>
                <th>Porcentaje</th>
                <th>Gráfica</th>
            </tr>
        </thead>
    {% for department in departmentStats %}
        <tbody>
            <tr align="center">
                <td>{{ department.departamento }}</td>
                <td>{{ department.numMembers }}</td>
                <td>{{ department.numCVNupdate }}</td>
                <td>{{ department.cvnPercentUpdated }}%</td>
                <td>
                    <div class="progress">
                        {% if department.cvnPercentUpdated >= 80 %}
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow={{ department.cvnPercentUpdated }} aria-valuemin="0" aria-valuemax="100" style="width: {{ department.cvnPercentUpdated }}%;">
                        {% else %}
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow={{ department.cvnPercentUpdated }} aria-valuemin="0" aria-valuemax="100" style="width: {{ department.cvnPercentUpdated }}%;"> <!-- min-width:25px;"  -->
                        {% endif %}
                        </div>
                        
                    </div>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

<div class="pagination">
    <span class="step-links">
        {% if departmentStats.has_previous %}
            <a href="?page={{ departmentStats.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ departmentStats.number }} of {{ departmentStats.paginator.num_pages }}.
        </span>

        {% if departmentStats.has_next %}
            <a href="?page={{ departmentStats.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock main %}
