{% extends 'cvn/base.html' %}

{% load i18n %}

{% load staticfiles %}

 {%block breadcrumb %}	
    <li><a href='{% url 'stats_report' %}'>{% trans 'Estadísticas' %}</a></li>
{% endblock breadcrumb %}

{% block main %}
	<h1 class="page-header">Estadísticas CVN por Departamentos</h1>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>{% trans 'Departamento' %} </th>
                <th>{% trans 'CVN actualizados' %}</th>
                <th>{% trans 'Nº de miembros' %}</th>
                <th>{% trans 'Gráfica' %}</th>
            </tr>
        </thead>
        <tbody>
    {% for department in departmentStats %}
            <tr>
                <td width='50%'>{{ department.departamento }}</td>
                <td width='15%'>{{ department.numCVNupdate }}</td>
                <td width='15%'>{{ department.numMembers }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar 
                        {% if department.cvnPercentUpdated >= validPercenCVN %}  progress-bar-success {% else %} progress-bar-danger {% endif %} "
                            role="progressbar" aria-valuenow={{ department.cvnPercentUpdated }} aria-valuemin="0" aria-valuemax="100" 
                            style="width: {{ department.cvnPercentUpdated }}%">
                            <span class="num_pcnt" style="display:block;position:absolute;color:black;vertical-align:middle; margin: auto;">{{ department.cvnPercentUpdated }}%</span> 
                            {% comment %}
                            <span class="num_pcnt" style="display:block;position:absolute;color: black;text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);vertical-align:middle; margin: auto;">{{ department.cvnPercentUpdated }}%</span> 
                            {% endcomment %}
                        </div>
                    </div>
                    <script>
                        $(".num_pcnt").css("width", $(".progress").width());
                    </script>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% comment %}
<div class="pagination">
    <span class="step-links">
{% endcomment %}
<!-- STYLE 1 -->
<ul class="pager">
        {% if departmentStats.has_previous %}
            <li><a href="?page={{ departmentStats.previous_page_number }}">{% trans 'Anterior' %}</a></li>
        {% endif %}

        <span class="current">
            {% trans 'Página' %} {{ departmentStats.number }} {% trans 'de' %} {{ departmentStats.paginator.num_pages }}.
        </span>

        {% if departmentStats.has_next %}
            <li><a href="?page={{ departmentStats.next_page_number }}">{% trans 'Siguiente' %}</a></li>
        {% endif %}
</ul>
{% comment %}
    </span>
</div>
{% endcomment %}

{% endblock main %}
