{% extends 'cvn/base.html' %}

{% load staticfiles %}

{% block breadcrumb %}	
    <li><a href='{% url 'stats_report' %}'>Estadísticas</a></li>
{% endblock breadcrumb %}

{% block main %}
	<h1 class="page-header">Estadísticas CVN por Departamentos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Departamento</th>
                <th>Número de miembros</th>
                <th>CVN actualizados</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
    {% for department in departmentStats %}
        <tbody>
            <tr>
                <td>{{ department.departamento }}</td>
                <td>{{ department.numMembers }}</td>
                <td>{{ department.numCVNupdate }}</td>
                <td>
                    <div class="progress">
                        {% if department.cvnPercentUpdated >= 80 %}
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow={{ department.cvnPercentUpdated }} aria-valuemin="0" aria-valuemax="100" style="width: {{ department.cvnPercentUpdated }}%;">
                        {% else %}
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow={{ department.cvnPercentUpdated }} aria-valuemin="0" aria-valuemax="100" style="width: {{ department.cvnPercentUpdated }}%;">
                        {% endif %}
                            <span class="sr-only">{{ department.cvnPercentUpdated }} Complete</span>
                        </div>
                        
                    </div>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

{% endblock main %}
