{% extends 'ccti.html' %}

<!-- Bootstrap -->
{% load bootstrap_toolkit %}


{% block main %}

	CVN es un currículum vítae único para los investigadores.
	<ul>
		<li>Un currículum vítae digital y <strong>normalizado</strong></li>
		<li>Un contenido y formato <strong>estándar</strong> de los CV de los investigadores</li>
		<li>
			Un modelo de interpretación de la información que permite el salto a la <strong>administración electrónica</strong>
		</li>
		<li>Un eslabón para contar con el <strong>registro de investigadores</strong> totalmente integrado</li>
	</ul>					
	<br>
{% endblock main %}


